@import url(/css/index.css);
@import url(/css/tela_funcionario.css);


header {
    background: var(--cor-de-fundo);
}

body {
    background: var(--cor-branco-fundo);
    color: var(--cor-cinza-fonte);
    font-size: 16px;
    font-weight: 300;
}

.section__ajuda {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: 3em 2em 0 3em;
    align-items: center;
}

.ajuda__titulo {
    font-size: 24px ;
    font-weight: 400;
}

.add__item, .pegar__item {
    display: flex;
    align-items: center;
}