@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap');
/* Variáveis */
:root {
    --cor_de_fundo: linear-gradient(93.91deg, #023047 1.82%, #219EBC 300.95%);
    --font-family: 'Josefin Sans', sans-serif;
    --cor-btn-desativado: #D9D9D9;
    --cor-btn-selecionado: #FB8500;
}

body {
    font-family: var(--font-family);
    text-align: center;
    
}

/* Cabecalho */

header {
    display: flex;
    height: 96px;
    width: 100%;
    background: var(--cor_de_fundo);
    align-items: center;
    justify-content: space-evenly;
}

.input-pesquisar_item {
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border: 0;
    padding-right: 40px;
    padding-left: 15px;
}

.input-pesquisar_item::placeholder {
    font-family: var(--font-family);
}

.input {
    position: relative;
    display: inline-block;
}

.btn-pesquisar {
    position: absolute;
    top: -4px;
    right: -4px;
    padding: 10px;
}

/* Corpo - sessão dos itens disponíveis */

.section-itens {
    text-align: center;
}

.titulo {
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 1.2em;
    margin-bottom: 2.4em;
}

.itens {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.item-nome {
    font-weight: 700;
}

.btn-item {
    font-family: var(--font-family);
    font-size: 9px;
    font-weight: 700;
    width: 90px;
    height: 21px;
    border: 0;
    border-radius: 10.5px;
    background-color: var(--cor-btn-desativado);
}

.btn-selecionado {
    background-color: var(--cor-btn-selecionado);
}

/* Seção de botões (Mais opções) */

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 154px;
    background: var(--cor_de_fundo);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    bottom: 0;
}