@import url(index.css);

/* Parte superior HEADER */

header {
    background: var(--cor-branco-fundo);
    height: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 75vw;
}

/* section de unidades disponíveis e indisponíveis */

body {
    background: var(--cor-de-fundo);
    color: var(--cor-branco-fonte);
    font-weight: 400;
}

.un__titulo {
    font-weight: 700;
    font-size: 18px;
    padding: 1.5em;
    line-height: 1.2em;
}

.unidades {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 400;
    margin-top: 0.5em;
    margin-bottom: 2em;
}

.un__coluna1, .un__coluna2, .un__item {
    display: flex;
    flex-direction: column;
    gap: 1.3em;
}

.un__item {
    gap: 0.5em;
}

.un__item-titulo {
    font-size: 16px;
}

.un__item-status {
    font-size: 14px;
    color: var(--cor-cinza-fonte);
}

.status-indisponivel {
    background-color: var(--cor-btn-desativado);
    padding: 5px 7px 5px 7px;
    border-radius: 12px;
}

.status-disponivel {
    background-color: var(--cor-btn-disponivel);
    padding: 5px 7px 5px 7px;
    border-radius: 12px;
}

/* Formulário */

form {
    display: flex;
    flex-direction: column;
    gap: 1.4em;
    text-align: start;
    margin: 0 10vw 0 10vw;
    padding: 2em 15vw 3vh 15vw;
    background-color: var(--cor-branco-fundo);
    color: var(--cor-cinza-fonte);
    border-radius: 10px 10px 0 0;
}

.campo-nome, .campo-unidade{
    display: flex;
    flex-direction: column;
    gap: 0.6em;
}

.nome_item, .unidade {
    font-size: 18px;
    font-weight: 500;
}

.input-nome, .input-unidade {
    height: 35px;
    width: 170px;
    padding-left: 10px;
    border: 1px solid var(--cor-borda-input);
    border-radius: 18px;
}

.btn-adicionar_item {
    width: 190px;
    height: 40px;
    background-color: var(--cor-btn-selecionado);
    border: 0;
    border-radius: 20px;
}